Package: com.gjws.gumjswebsocket
Name: GumJS WebSocket
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader, com.opa334.altlist
Version: 1.0.6
Architecture: iphoneos-arm64
Description: Inject GumJS scripts into iOS apps via WebSocket. Supports hot-reload from PC server.
Maintainer: rickbrian
Author: rickbrian
Section: Tweaks
